{% load static %}
<!-- Border -->
<div class="pallet-group">
    <div class="name"><i class="fas fa-caret-down"></i> Border</div>
    
        <!-- width-->
        <div class="tool-body">
            <div class="div-flex-start">
                Width
            </div>
            <div class="pallet-panel">
                <div class="div-flex-center adjust-left">
                    <input class="mdl-slider mdl-js-slider " type="range" min="0" max="100" value="24" tabindex="0">
                </div>
                <div class="pallet-panel-value-px div-flex-start">
                    24
                </div>
            </div>
        </div>

        <!-- radius -->
        <div class="tool-body">
            <div class="div-flex-start">
                Radius
            </div>
            <div class="pallet-panel">
                <div class="div-flex-center adjust-left">
                    <input class="mdl-slider mdl-js-slider " type="range" min="0" max="100" value="10" tabindex="0">
                </div>
                <div class="pallet-panel-value-px div-flex-start">
                    2.34
                </div>
            </div>
        </div>

        <!-- Corners -->
        <div class="tool-body-four">
            <!-- top left -->
            <div class="pallet-panel even">
                <div class="div-flex-center">
                    <i class="fas fa-border-style"></i>
                </div>
                <div class="pallet-panel-value-px div-flex-start">
                    <input value="6" class="pallet-int-input">
                </div>
            </div>

            <!-- top right -->
            <div class="pallet-panel even">
                <div class="div-flex-center">
                    <i class="fas fa-border-style" style="transform: rotate(90deg);"></i>
                </div>
                <div class="pallet-panel-value-px div-flex-start">
                    <input value="6" class="pallet-int-input">
                </div>
            </div>

            <!-- bottom left -->
            <div class="pallet-panel even">
                <div class="div-flex-center">
                    <i class="fas fa-border-style" style="transform: rotate(-90deg);"></i>
                </div>
                <div class="pallet-panel-value-px div-flex-start">
                    <input value="6" class="pallet-int-input">
                </div>
            </div>

            <!-- bottom right -->
            <div class="pallet-panel even">
                <div class="div-flex-center">
                    <i class="fas fa-border-style" style="transform: rotate(180deg);"></i>
                </div>
                <div class="pallet-panel-value-px div-flex-start">
                    <input value="6" class="pallet-int-input">
                </div>
            </div>
        </div>

        <!-- color -->
        <div class="tool-body reverse" style="grid-template-columns: 1fr; margin-top: 15px;">
            <div class="pallet-panel">
                <div class="div-flex-start">
                    <!-- boder color -->
                    <div class="color-div"></div>
                    <input class="pallet-text-input" style="margin-left: 10px ;" value="#4072100">
                </div>
            </div>
        </div>
</div>


<!-- Typography -->
<div class="pallet-group">
    <div class="name"><i class="fas fa-caret-down"></i> Typography</div>
    
        <!-- text alignment  -->
        <div class="tool-body single">
            <div class="pallet-panel four">
                <!-- left align -->
                <div class="div-flex-center">
                    <i class="fas fa-align-left selected"></i>
                </div>
                <!-- align center-->
                <div class="div-flex-center">
                    <i class="fas fa-align-center"></i>
                </div>
                <!-- indent -->
                <div class="div-flex-center">
                    <i class="fas fa-indent"></i>
                </div>
                <!-- align right -->
                <div class="div-flex-center">
                    <i class="fas fa-align-right"></i>
                </div>
            </div>
        </div>

        <!-- Font Family -->
        <div class="tool-body single">
            <div class="pallet-panel single">
                <div class="div-flex-start">
                    <input value="New Times Roman" class="pallet-long-text-input text-align-left">
                </div>
            </div>
        </div>

        <!--  Weight -->
        <div class="tool-body-four">
            <!-- font weight -->
            <div class="pallet-panel even">
                <div class="div-flex-center">
                    <span style="font-size: x-small;">Weight</span>
                </div>
                <div class="pallet-panel-value-pt div-flex-start">
                    <input value="600" class="pallet-int-input">
                </div>
            </div>

            <!-- font size -->
            <div class="pallet-panel even">
                <div class="div-flex-center">
                    <span style="font-size: x-small;">Size</span>
                </div>
                <div class="pallet-panel-value-px div-flex-start">
                    <input value="24" class="pallet-int-input">
                </div>
            </div>

            <!-- font height -->
            <div class="pallet-panel even">
                <div class="div-flex-center">
                    <span style="font-size: x-small;">Height</span>
                </div>
                <div class="pallet-panel-value-px div-flex-start">
                    <input value="32" class="pallet-int-input">
                </div>
            </div>

            <!-- font spacing -->
            <div class="pallet-panel even">
                <div class="div-flex-center">
                    <span style="font-size: x-small;">Spacing</span>
                </div>
                <div class="pallet-panel-value-pt div-flex-start">
                    <input value="2" class="pallet-int-input">
                </div>
            </div>
        </div>

        <!-- color -->
        <div class="tool-body reverse" style="grid-template-columns: 1fr; margin-top: 15px;">
            <div class="pallet-panel">
                <div class="div-flex-start">
                    <!-- boder color -->
                    <div class="color-div" style="background-color: aqua;"></div>
                    <input class="pallet-text-input" style="margin-left: 10px ;" value="#0732002">
                </div>
            </div>
        </div>
</div>


<!-- Element -->
<div class="pallet-group">
    <div class="name"><i class="fas fa-caret-down"></i> Element</div>
    
        <!-- background -->
        <div class="tool-body single">
            <div class="pallet-panel single tall">
               <div class="element-background" style="background-size: cover; background-image: url({% static 'jpg/sunset.jpg' %});">

               </div>
            </div>
        </div>

        <div class="tool-body single">
            <div class="pallet-panel single">
                <div class="div-flex-start">
                    <input value="Sunset.png" class="pallet-long-text-input text-align-left">
                </div>
            </div>
        </div>

        <!--  element properties -->
        <div class="tool-body-four">

            <!-- height -->
            <div class="pallet-panel even">
                <div class="div-flex-center">
                    <span style="font-size: x-small;">Height</span>
                </div>
                <div class="pallet-panel-value-px div-flex-start">
                    <input value="600" class="pallet-int-input">
                </div>
            </div>

            <!-- width -->
            <div class="pallet-panel even">
                <div class="div-flex-center">
                    <span style="font-size: x-small;">Width</span>
                </div>
                <div class="pallet-panel-value-px div-flex-start">
                    <input value="900" class="pallet-int-input">
                </div>
            </div>

            <!-- opacity -->
            <div class="pallet-panel even">
                <div class="div-flex-center">
                    <span style="font-size: x-small;">Opacity</span>
                </div>
                <div class="pallet-panel-percent-px div-flex-start">
                    <input value="25" class="pallet-int-input">
                </div>
            </div>

            <!-- scale -->
            <div class="pallet-panel even">
                <div class="div-flex-center">
                    <span style="font-size: x-small;">Scale</span>
                </div>
                <div class="pallet-panel-percent-px div-flex-start">
                    <input value="100" class="pallet-int-input">
                </div>
            </div>
        </div>
</div>


