<!DOCTYPE html>{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BAYA WEAVER | {{project}}</title>
    <!-- styles -->
    <link rel="stylesheet" href="{% static 'css/Builder.css' %}">
    <!-- script -->
    <script src="{% static 'js/Builder.js' %}"></script>
    <!-- material design -->
    <link rel="stylesheet" href="{% static 'mdt/material.min.css' %}">
    <script src="{% static 'mdt/material.min.js' %}"></script>
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> -->
    <!-- mopane buttons -->
    <link rel="stylesheet" href="{% static 'mopane/mopane.main.css' %}">
    <script src="{% static 'mopane/communications.js' %}"></script>
</head>
<body>
    <!-- navigation -->
    <div class="navigation">
       
    </div>
    <!-- pallet -->
    <div class="pallet">
        <!-- layout section -->
        <section id="pallete_layout" style="margin-top: 20px;"> 
            <div class="pallet-group">
                <div class="name">Border</div>

                <!-- width-->
                <div class="tool-body">
                    <div class="div-flex-start">
                        Width
                    </div>
                    <div class="pallet-panel">
                        <div class="div-flex-center adjust-left">
                            <input class="mdl-slider mdl-js-slider " type="range" min="0" max="100" value="24" tabindex="0">
                        </div>
                        <div class="pallet-panel-value-px div-flex-start">
                            24
                        </div>
                    </div>
                </div>

                <!-- radius -->
                <div class="tool-body">
                    <div class="div-flex-start">
                        Radius
                    </div>
                    <div class="pallet-panel">
                        <div class="div-flex-center adjust-left">
                            <input class="mdl-slider mdl-js-slider " type="range" min="0" max="100" value="10" tabindex="0">
                        </div>
                        <div class="pallet-panel-value-px div-flex-start">
                            2.34
                        </div>
                    </div>
                </div>

                <!-- Corners -->
                <div class="tool-body-four">
                    <!-- top left -->
                    <div class="pallet-panel even">
                        <div class="div-flex-center">
                            
                        </div>
                        <div class="pallet-panel-value-px div-flex-start">
                           <input value="6" class="pallet-int-input">
                        </div>
                    </div>

                    <!-- top right -->
                    <div class="pallet-panel even">
                        <div class="div-flex-center">
                            
                        </div>
                        <div class="pallet-panel-value-px div-flex-start">
                           <input value="6" class="pallet-int-input">
                        </div>
                    </div>

                    <!-- bottom left -->
                    <div class="pallet-panel even">
                        <div class="div-flex-center">
                            
                        </div>
                        <div class="pallet-panel-value-px div-flex-start">
                           <input value="6" class="pallet-int-input">
                        </div>
                    </div>

                    <!-- bottom right -->
                    <div class="pallet-panel even">
                        <div class="div-flex-center">
                            
                        </div>
                        <div class="pallet-panel-value-px div-flex-start">
                           <input value="6" class="pallet-int-input">
                        </div>
                    </div>
                </div>

                <!-- color -->
                <div class="tool-body reverse" style="grid-template-columns: 1fr;">
                    <div class="pallet-panel">
                        <div class="div-flex-start">
                            <!-- boder color -->
                            <div class="color-div"></div>
                            <span style="margin-left: 10px;">rgb(40, 72, 109)</span> 
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- layout section -->
        <section id="pallete_layout" style="margin-top: 20px;"> 
            <div class="pallet-group">
                <div class="name">Border</div>

                <!-- width-->
                <div class="tool-body">
                    <div class="div-flex-start">
                        Width
                    </div>
                    <div class="pallet-panel">
                        <div class="div-flex-center adjust-left">
                            <input class="mdl-slider mdl-js-slider " type="range" min="0" max="100" value="24" tabindex="0">
                        </div>
                        <div class="pallet-panel-value-px div-flex-start">
                            24
                        </div>
                    </div>
                </div>

                <!-- radius -->
                <div class="tool-body">
                    <div class="div-flex-start">
                        Radius
                    </div>
                    <div class="pallet-panel">
                        <div class="div-flex-center adjust-left">
                            <input class="mdl-slider mdl-js-slider " type="range" min="0" max="100" value="10" tabindex="0">
                        </div>
                        <div class="pallet-panel-value-px div-flex-start">
                            2.34
                        </div>
                    </div>
                </div>

                <!-- Corners -->
                <div class="tool-body-four">
                    <!-- top left -->
                    <div class="pallet-panel even">
                        <div class="div-flex-center">
                            
                        </div>
                        <div class="pallet-panel-value-px div-flex-start">
                           <input value="6" class="pallet-int-input">
                        </div>
                    </div>

                    <!-- top right -->
                    <div class="pallet-panel even">
                        <div class="div-flex-center">
                            
                        </div>
                        <div class="pallet-panel-value-px div-flex-start">
                           <input value="6" class="pallet-int-input">
                        </div>
                    </div>

                    <!-- bottom left -->
                    <div class="pallet-panel even">
                        <div class="div-flex-center">
                            
                        </div>
                        <div class="pallet-panel-value-px div-flex-start">
                           <input value="6" class="pallet-int-input">
                        </div>
                    </div>

                    <!-- bottom right -->
                    <div class="pallet-panel even">
                        <div class="div-flex-center">
                            
                        </div>
                        <div class="pallet-panel-value-px div-flex-start">
                           <input value="6" class="pallet-int-input">
                        </div>
                    </div>
                </div>

                <!-- color -->
                <div class="tool-body reverse" style="grid-template-columns: 1fr;">
                    <div class="pallet-panel">
                        <div class="div-flex-start">
                            <!-- boder color -->
                            <div class="color-div"></div>
                            <span style="margin-left: 10px;">rgb(40, 72, 109)</span> 
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- body -->
    <div class="view">
        
    </div>   

</body>
</html>